@import '../../styles/variables.scss';

.collaps {
    margin: 38px 100px;
  
    .collaps-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 15px 10px 20px;
      background-color: $rouge;
      cursor: pointer;
  
      h2 {
        margin: 0;
        font-size: 24px;
        color: white;
        font-weight: bold;
        // font-family: 'Montserrat';
      }
  
      .arrow {
        width: 6px;
        height: 6px;
        border: solid white;
        border-width: 0 4px 4px 0;
        display: inline-block;
        padding: 3px;
        transition: transform 0.3s ease; /* Переход для стрелки */
  
        &.down {
          transform: rotate(45deg);
        }
  
        &.up {
          transform: rotate(225deg);
        }
      }
    }
  
    .collaps-content {
      overflow: hidden; 
      max-height: 0; 
      transition: max-height 0.5s ease; 
      //padding: 20px;
      background-color: $gris;
      font-size: 18px;
      p {
        margin: 0px;
      }
      }
  }
  
  .collaps-content.open {
    max-height: 500px; /* assez grande */
  }
  
  .collaps-content.closed {
    max-height: 0; 
  }
  