footer {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px 0;
    background-color: black;
     p {
        font-size: 24px;
        color: white;
        @media (max-width: 767.98px) {
            font-size: 12px;
            width: 122px;
            margin: 10px;
        }
    img {
        height: 39px;
    }
    }
}    
/****** Media queries ***********/
/* Small devices (phones, less than 768px) */
