@import '../../styles/variables.scss';

.page404 {
    background-color: $gris;
    padding: 40px;
    text-align: center; 
    font-size: 36px;

    color: white; 
    width: 100%;
    height: 100%;
    //height: 100vh; //200px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/sweden-6834164_1280.webp') no-repeat center center;
    //background: url('../../assets/sweden-6834164_1280.jpg');
    background-size: cover;
}
a {
    text-decoration: none; /* Убирает подчеркивание */
    color: inherit; /* Наследует цвет родителя */
  }

