@import '../../styles/variables.scss';

.projets-grid {
  //background-color: $blue;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/sweden-6834164_1280.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  gap: 25px; // Расстояние между карточками
  justify-content: space-around;
  padding: 40px;
  //border-radius: 25px;
}

.projet-card {
  width: 500px;
  height: 300px;
  position: relative;
  border-radius: 10px;
  padding: 5px;
  //background-color: $blue;
  overflow: hidden; // Для обрезки картинки по границам карточки
  // transition: transform 0.2s;

  // &:hover {
  //   transform: scale(1.05);
  // }

  .projet-image {
   // border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: scale-down; // Изображение заполняет карточку, сохраняя пропорции
    //box-shadow: 4px 4px $blue; /* Тень */
  }


  // Текст, скрытый по умолчанию
  .projet-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7); // Затемнение фона
    color: white;
    font-size: 24px;
    font-weight: bold;
    opacity: 0; // Текст скрыт
    transition: opacity 0.3s ease-in-out;
    z-index: 2; // Выше фона
    text-align: center;
  }

  // Появление текста при наведении
  &:hover .projet-overlay {
    opacity: 1;
    cursor: pointer;
  }

  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); // Центрирование окна
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Тень для модального окна
    max-width: 700px; // Максимальная ширина окна
    width: 90%; // Ширина окна (адаптивность)
    max-height: 95vh; // Ограничение по высоте (адаптивность)
    overflow-y: auto; // Скролл, если содержимое больше окна
    z-index: 1000; // Модальное окно выше других элементов
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); // Полупрозрачный чёрный фон
    z-index: 999; // Фон находится под модальным окном
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
  
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .modal-image {
      width: 100%;
      border-radius: 10px;
      margin-bottom: 20px;
    }
  
    h2 {
      margin-bottom: 10px;
    }
  
    p {
      margin-bottom: 10px;
      text-align: center;
    }
  
    .github-link {
      display: inline-block;
      margin-top: 20px;
      padding: 10px 20px;
      background: $blue;
      color: white;
      border-radius: 5px;
      text-decoration: none;
      transition: background 0.3s ease;
  
      &:hover {
        background: $marine;
      }
    }
  }